h4 {
    font-size: 25px;
    line-height: 21px;
    font-weight: 300;
    margin: 20px 0px 15px;
  }
.account-edit {
    background-color: rgb(255, 255, 255);
    padding: 30px 20px;
    border-radius: 4px;

    .form {
      width: 600px;
      &-item {
        display: flex;
        align-items: center;
        margin: 0px 0px 15px;
        label {
          width: 110px;
          min-width: 110px;
          font-size: 14px;
          color: rgb(51, 51, 51);
        }
        input {
          width: 100%;
          border: 1px solid rgb(204, 204, 204);
          border-radius: 4px;
          height: 34px;
          padding: 6px 12px;
          line-height: 34px;
          outline: none;
          &:focus {
            border: 1px solid var(--main);
          }
        }
        .btn-submit {
          border: 0px;
          width: 176px;
          height: 40px;
          border-radius: 4px;
          color: rgb(74, 74, 74);
          font-size: 14px;
          background: rgb(216, 191, 216);
          cursor: pointer;
        }
        .Checkbox {
          width: 60%;
          display: flex;
          input {
            width: 18px;
            height: 18px;
            border: 1px solid rgb(120, 120, 120);
            display: inline-block;
            vertical-align: middle;
            margin: 0px 12px 0px 0px;
            position: relative;
            z-index: 1;
            color: rgb(120, 120, 120);

            .label {
              font-size: 10px;
            }
          }
        }
      }
    }
  }