<h4>Thông tin tài khoản</h4>
<div class="account-edit">
    <form class="form" [formGroup]="formEditInf" (ngSubmit)="EditInf()">
        <div class="form-item">
            <label for="fullName">Họ tên</label>
            <input name="fullName" formControlName="fullName"
                [ngClass]="{ 'is-invalid': submitted && f.fullName.errors}">
            <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                <div *ngIf="f.fullName.errors.required">Họ tên không được để trống</div>
            </div>
        </div>
        <div class="form-item">
            <label for="phoneNumber">Số điện thoại</label>
            <input name="phoneNumber" formControlName="phoneNumber"
                [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
            <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                <div *ngIf="f.phoneNumber.errors.required">SĐT không được để trống</div>
                <div *ngIf="f.phoneNumber.errors.minlength">SĐT không chính xác</div>
                <div *ngIf="f.phoneNumber.errors.maxlength">SĐT không chính xác</div>
            </div>
        </div>
        <div class="form-item">
            <label for="email">Email</label>
            <input name="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email không được để trống</div>
                <div *ngIf="f.email.errors.email">Email không chính xác</div>
            </div>
        </div>
        <div class="form-item">
            <label class="input-label">&nbsp;</label>
            <label class="Checkbox">
                <input type="checkbox">
                <span class="label">Thay đổi mật khẩu</span>
            </label>
        </div>
        <div class="reset-pw" *ngIf="resetPW">
            <div class="form-item">
                <label for="oldPassWord">Mật khẩu cũ</label>
                <input name="oldPassWord" formControlName="oldPassWord" type="password"
                    [ngClass]="{ 'is-invalid': submitted && f.oldPassWord.errors }">
                <div *ngIf="submitted && fLogin.oldPassWord.errors" class="invalid-feedback">
                    <div *ngIf="fLogin.oldPassWord.errors.required">Tài khoản không được để trống</div>
                </div>
            </div>
            <div class="form-item">
                <label for="newPassWord">Mật khẩu mới</label>
                <input name="newPassWord" formControlName="newPassWord" type="password"
                    [ngClass]="{ 'is-invalid': submitted && f.newPassWord.errors }">
                <div *ngIf="submitted && fLogin.newPassWord.errors" class="invalid-feedback">
                    <div *ngIf="fLogin.newPassWord.errors.required">Tài khoản không được để trống</div>
                </div>
            </div>
            <div class="form-item">
                <label for="rePassWord">Nhập lại</label>
                <input name="rePassWord" formControlName="rePassWord" type="password"
                    [ngClass]="{ 'is-invalid': submitted && f.rePassWord.errors }">
                <div *ngIf="submitted && fLogin.rePassWord.errors" class="invalid-feedback">
                    <div *ngIf="fLogin.rePassWord.errors.required">Tài khoản không được để trống</div>
                </div>
            </div>
        </div>

        <div class="form-item">
            <label class="input-label">&nbsp;</label>
            <button type="submit" class="btn-submit">
                Cập nhật
            </button>
        </div>
    </form>
</div>