<section class="product-electronic-classify">
  <div class="header">
    <div class="padding-15">
      <div class="breadcrumb">
        <a href="" class="breadcrumb-items">Trang chủ</a>
        <a [routerLink]="['/product-electronic']" class="breadcrumb-items">Điện tử - Điện lạnh</a>
        <a href="" class="breadcrumb-items" *ngFor="let l of listProduct">{{l.productName}}</a>
      </div>
    </div>
  </div>

  <div class="body">
    <div class="padding-15">
      <div class="row">
        <!-- LEFT SIDE -->
        <div class="body-left">
          <div class="filter">
            <div class="filter-header">
              <h6>DANH MỤC SẢN PHẨM</h6>
            </div>
            <div class="filter-suppliers filter-group">
              <h6>Điện Tử - Điện Lạnh</h6>
              <ul>
                <li *ngFor="let n of listCategoryName">
                  <a href="product-electronic-classify;proId={{n.productId}}" style="cursor: pointer;">{{n.productName}}</a>
                </li>
              </ul>
            </div>
            <div class="filter-suppliers filter-group">
              <h6>Miễn phí giao hàng</h6>
              <ul>
                <li>
                  <a href="">Có</a>
                </li>
                <li>
                  <a href="">Không</a>
                </li>
              </ul>
            </div>
            <div class="filter-suppliers filter-group">
              <h6>THƯƠNG HIỆU</h6>
              <ul>
                <li>
                  <a href="">Samsung</a>
                </li>
              </ul>
            </div>
            <div class="filter-price">
              <h6>Giá</h6>
              <input class="input-price form-control" type="text">
              <input class="input-price form-control" type="text">
              <button class="btn btn-filter-price">Áp dụng</button>
            </div>
          </div>
        </div>

        <!-- RIGHT SIDE  -->
        <div class="body-right">
          <div class="phone-tablet">
            <div class="title" *ngFor="let l of listProduct">
              <h5>{{l.productName}}:
                <span>{{productsQuantity.length}} kết quả</span>
              </h5>
            </div>
            <div class="slick-container">
              <span class="prev arrow-left">
                <i class="fi flaticon-left-chevron"></i>
              </span>
              <div class="slick-banner">
                <div class="slick-banner_item">
                  <a href="https://tiki.vn/chuong-trinh/tiki-samsung-now?ref=main-category-banner">
                    <img
                      src="https://salt.tikicdn.com/cache/w885/ts/banner/08/4c/e1/df55778d750fcf875dd34b586daabda0.jpg"
                      alt="">
                  </a>
                </div>
                <div class="slick-banner_item">
                  <a href="https://tiki.vn/chuong-trinh/tiki-samsung-now?ref=main-category-banner">
                    <img
                      src="https://salt.tikicdn.com/cache/w885/ts/banner/d8/55/56/ab489cbfccad0d035dfece517170f451.jpg"
                      alt="">
                  </a>
                </div>
                <div class="slick-banner_item">
                  <a href="https://tiki.vn/chuong-trinh/tiki-samsung-now?ref=main-category-banner">
                    <img
                      src="https://salt.tikicdn.com/cache/w885/ts/banner/63/1a/f4/e65fbcef49bb0c28c08919c3632b0f07.jpg"
                      alt="">
                  </a>
                </div>
                <div class="slick-banner_item">
                  <a href="https://tiki.vn/chuong-trinh/tiki-samsung-now?ref=main-category-banner">
                    <img
                      src="https://salt.tikicdn.com/cache/w885/ts/banner/b2/c6/a4/f431d1c596efb182b51ae8e93aaddb24.jpg"
                      alt="">
                  </a>
                </div>
              </div>
              <span class="next arrow-right">
                <i class="fi flaticon-right"></i>
              </span>
            </div>

            <div class="banner-block">
              <div class="banner-block_advertise">
                <a class="advertise" href="">
                  <img src="https://salt.tikicdn.com/ts/categoryblock/b7/96/7f/7ccbcd83754c6e3375d488abd21f009d.jpg"
                    alt="">
                </a>
                <a class="advertise" href="">
                  <img src="https://salt.tikicdn.com/ts/categoryblock/63/1a/f4/2bdb1901de517ba97cee9ac09dcc2eee.jpg"
                    alt="">
                </a>
              </div>
              <div class="banner-block_devices">
                <div class="row justify-content-between pl-5 pr-5">
                  <div class="col-3-sm">
                    <a class="block-link" href="https://tiki.vn/dien-thoai-smartphone/c1795?src=static_block" title="">
                      <img src="https://salt.tikicdn.com/ts/categoryblock/d5/6c/ef/6498463f16ae8dabd4cdb1a32bd9035a.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-3-sm">
                    <a class="block-link" href="https://tiki.vn/dien-thoai-smartphone/c1795?src=static_block" title="">
                      <img src="https://salt.tikicdn.com/ts/categoryblock/cd/ce/b4/3bc6dfd31002ab8bd6b978252c923f12.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-3-sm">
                    <a class="block-link" href="https://tiki.vn/dien-thoai-smartphone/c1795?src=static_block" title="">
                      <img src="https://salt.tikicdn.com/ts/categoryblock/03/48/e6/bc082192dbf950f40152d385830d1b01.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-3-sm">
                    <a class="block-link" href="https://tiki.vn/dien-thoai-smartphone/c1795?src=static_block" title="">
                      <img src="https://salt.tikicdn.com/ts/categoryblock/c2/c7/14/7e92fbe566b39f4f37b531a1f5e464f4.png"
                        alt="">
                    </a>
                  </div>
                </div>
                <div class="row justify-content-between pl-5 pr-5">
                  <div class="col-3-sm">
                    <a class="block-link" href="https://tiki.vn/dien-thoai-smartphone/c1795?src=static_block" title="">
                      <img src="https://salt.tikicdn.com/ts/categoryblock/4d/3c/05/ef2ec7e68faca42085c2f3e5bf451ddc.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-3-sm">
                    <a class="block-link" href="https://tiki.vn/dien-thoai-smartphone/c1795?src=static_block" title="">
                      <img src="https://salt.tikicdn.com/ts/categoryblock/f7/b3/25/6ccf76723c2c8b29d2e519abb93294ac.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-3-sm">
                    <a class="block-link" href="https://tiki.vn/dien-thoai-smartphone/c1795?src=static_block" title="">
                      <img src="https://salt.tikicdn.com/ts/categoryblock/a4/a2/e4/951597fb908793cf03eabe6493c289bc.png"
                        alt="">
                    </a>
                  </div>
                  <div class="col-3-sm">
                    <a class="block-link" href="https://tiki.vn/dien-thoai-smartphone/c1795?src=static_block" title="">
                      <img src="https://salt.tikicdn.com/ts/categoryblock/22/35/38/36873d72e75baabc5ded360be99d16b1.png"
                        alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="option-box-wrap">
              <div class="option-box">
                <div class="group-left">
                  <span>Ưu tiên xem: </span>
                  <div class="sort-list">
                    <ul>
                      <li><a href="">Hàng mới</a></li>
                      <li><a href="">Bán chạy</a></li>
                      <li><a href="">Giảm giá nhiều</a></li>
                      <li (click)="sortByPriceASC(productId)">Giá thấp</li>
                      <li (click)="sortByPriceDESC(productId)">Giá cao</li>
                      <li><a href="">Chọn lọc</a></li>
                    </ul>
                  </div>
                </div>
                <div class="group-right">
                  <input type="search" class="form-control" placeholder="Tìm trong Điện Thoại - Máy Tính Bảng">
                  <button class="btn btn-search">
                    <i class="fi flaticon-loupe"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="check-supported">
              <div class="checkbox">
                <label class="checkbox-container">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <span>Xem sản phẩm giao từ nước ngoài
                  -
                  <a href="">Tìm hiểu</a>
                </span>
              </div>

              <div class="is-tikinow">
                <label class="checkbox-container">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                  <div class="tikinow-logo">
                    <img src="assets/images/logo/tikinow.png" alt="tikinow">
                  </div>
                </label>
                <span>Xem sản phẩm hỗ trợ TikiNOW giao nhanh
                  -
                  <a href="">Tìm hiểu</a>
                </span>
              </div>
            </div>

            <div class="products-box-list">
              <div class="row no-gutters" *ngIf="products.totalRecord">
                <div class="products-box-list_item col-md-3" *ngFor="let p of products.data">
                  <a href="product-detail;id={{p.proDetailsId}}" style="cursor: pointer;"
                    class="product-hover">
                    <div class="product-img">
                      <img src="https://{{p.image}}" alt="Điện Thoại iPhone 11 Pro 256GB - Hàng Nhập Khẩu">
                    </div>
                    <div class="badge-service">
                      <div class="badge-service_item">
                        <img src="./assets/images/logo/tikinow.png" alt="">
                      </div>
                      <span>GIAO TRONG NGÀY</span>
                    </div>
                    <p class="title">{{p.proName}}</p>
                    <p class="price">
                      {{p.price | number}}₫
                      <span class="percent">-26%</span>
                      <span class="original">36.990.000 ₫</span>
                    </p>
                  </a>
                </div>

              </div>
            </div>
          </div>
          <div class="list-pager">
            <ul class="pagination justify-content-end">
              <li class="page-item">
                <a class="page-link btn-prev" (click)="searchPrevious()" href="javascript:void(0)" tabindex="-1"
                  aria-disabled="true">
                  <span class="fi flaticon-left-chevron"></span>
                </a>
              </li>
              <li class="page-item"><a class="page-link active" href="#">{{products.page}}</a></li>
              <!-- <li class="page-item" aria-current="page">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li> -->
              <li class="page-item">
                <a class="page-link btn-next" (click)="searchNext()" href="javascript:void(0)">
                  <span class="fi flaticon-right"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>